html, body, figure, figcaption, div, ul, li, pre, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 40px;
    background: #000;
    color: #f00;
}

figure {
  display: block;
  margin: 0 auto 0 auto;
  width: 720px;
  height: 600px;
}

.info {
  font-size: 24px;
  display: inline;
}

h1 {
  display: inline;
  font-size: 60px;
}

ul {
  list-style: none;
  border-left: 1px solid #00f;
  border-right: 1px solid #00f;
  width: 100%;
}

ul:first-of-type {
  border-top: 1px solid #00f;
}

ul:last-of-type {
  border-bottom: 1px solid #00f;
}

li {
  float: left;
  display: block;
  background: #000;
  height: 60px;
  width: 60px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

li.occupied {
  background-color: #0f0;
}

li.apple {
  background-color: #f00;
}

.game-over:after {
  content: "GAME OVER";
  font-weight: bold;
  font-size: 60px;
}
